body {
	font-family:Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:100%;
}

.slicknav_menu {
	display:none;
}

.container{
  width:960px;
  margin: 0 auto;
  padding-top: 2em;
  background-color: #eee;
}
ul{
  padding: 0;
  margin: 0;
}
a{
  color: #000;
  line-height: 16px;
}
.nav{
  list-style: none;
  font-size: 0;
  text-align: justify;
}
.nav::after{
  content: "";
  display: inline-block;
  width: 100%;
}
.nav__list{
  display: inline-block;
  font-size: 14px;
  position: relative;
}

.nav__link{
  text-decoration: none;
  padding: 10px;
  /*border-right:1px solid #000;*/
}
.nav__link:hover{
  color:#FFCC33;
}
.nav__list:hover .sub-nav{
  display: block;
}
.sub-nav__list:hover .sub-nav-2{
  display: block;
}
.sub-nav__link-2:hover .car-model{
  display: block;
}
.sub-nav__link-2:hover{
  background-color: #eee;
}
.sub-nav__list:hover .nav__link{
  color:#FFCC33;
}

/*sub-nav*/
.sub-nav, .sub-nav-2{
  /*padding:10px 0;*/
  display: none;
  list-style: none;
  border:1px solid #eee;
  position: absolute;
  width:238px;
}
.sub-nav{

  /*top:30px;*/
  left:0;
}
.sub-nav-2{
  top:-1px;
  left:238px;
}

.sub-nav__list{
  position: relative;
}
.nav__link, .sub-nav__link, .sub-nav__link-2{
  display: block;
  padding: 10px;
  text-decoration: none;
}

.car-model{
  display: none;
  list-style: none;
  height:252px;
  border:1px solid #eee;
  position: absolute;
  left:238px;
  top:-1px;
}

.car-model__link,
.car-model__item{
  display: block;
  text-align: center;
}

.car-model__link{
  /*padding-bottom: 10px;*/
}

/*slick menu*/
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 60em) {
	.js #menu {
		display:none;
	}
	.js .slicknav_menu {
		display:block;
	}
	.slicknav_menu .slicknav_menutxt{
		display:none;
	}
	.sub-nav, .sub-nav-2, .car-model{
		border: none;
		position:static;
	}
	.car-model{
		height:auto;
	}
	.car-model__img, .car-model__item + a{
		display:none;
	}
	.car-model__link{
		text-align: left;
		display:inline-block;
	}
}
